@import "../../assets/styles/variables";
@import "../../assets/styles/mixins";

@mixin spinner-animation($i, $scale, $delay) {
  transform: scale(0);
  animation-name: spinner-animation-#{$i};
  animation-duration: 4s;
  animation-timing-function: $ease-in-out-circ;
  animation-iteration-count: infinite;
  animation-delay: $delay;

  @keyframes spinner-animation-#{$i} {
    0% {
      transform: scale(0);
    }
    50% {
      opacity: 1;
    }
    100% {
      transform: scale($scale);
      opacity: 0;
    }
  }
}

.spinner {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  @for $i from 1 through 5 {
    .circle:nth-of-type(#{$i}) {
      $scale: 3 - $i * .4;
      $delay: 0s + ($i - 1) * .4s;
      @include spinner-animation($i, $scale, $delay);
    }
  }
}

.fullPage {
  height: 100vh;
  left: 0;
  top: 0;
  position: fixed;
  background-color: $color-light;
}

.circle {
  position: absolute;
  width: 20vw;
  height: 20vw;
  border-radius: 50%;
  @include neumorphism($color-light, false, topleft, true, .2rem);
}
