@import "../../assets/styles/variables";

.button {
  // TODO Move to navigation component
  margin-left: 10px;
  font-size: 1rem;
  padding: 0;
  cursor: pointer;
  border: none;
  background-color: transparent;
  color: $color-primary;
  transition: $transition-base;
  will-change: color;

  &:hover, &:active {
    color: darken($color-primary, 10);
  }
}