@import "../../assets/styles/variables";
@import "../../assets/styles/mixins";

.bar {
  padding: 20px 0;
}

.container {
  display: flex;
  justify-content: space-between;
}

.links {
  display: flex;
  list-style: none;

  li {
    margin-left: 20px;
  }

  a {
    text-decoration: none;
  }
}

.logo {
  text-decoration: none;
  color: inherit;

  &:hover {
    color: inherit;
  }
}
