@import "../../assets/styles/variables";
@import "../../assets/styles/mixins";

.bar {
  padding: 15px 0;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left {
  display: flex;
  align-items: center;
}

.languages {
  margin-left: .5rem;
}

.links {
  display: flex;

  a {
    display: inline-block;
    margin-left: 20px;
    text-decoration: none;
  }
}

.logo {
  text-decoration: none;
  color: inherit;
  display: flex;
  align-items: center;

  // TODO Fix logo positioning
  svg {
    margin-left: -11px;
    width: 45px;
  }

  &:hover {
    color: inherit;
  }
}
