@import "../../assets/styles/variables";
@import "../../assets/styles/mixins";

$input-bg: $white;
$input-font-size: .95rem;
$input-color: $gray-600;
$input-border-radius: $border-radius;
$input-border-color: $border-color;
$input-focus-border-color: $color-primary;
$input-placeholder-color: $gray-600;
$input-hover-border-color: darken($input-border-color, 15);

.container {
}

.input {
  width: 100%;
  padding: .5rem 1rem;
  display: block;
  font-size: $input-font-size;
  box-sizing: border-box;
  outline: none;
  color: $input-color;
  border: none;
  border-radius: $input-border-radius;
  background-color: transparent;
  line-height: 1.5;
  transition: $transition-base;
  will-change: box-shadow;
  @include neumorphism($color-light, false, topleft, true, .05rem);

  &::placeholder {
    color: $input-placeholder-color;
  }

  &:focus {
    @include neumorphism($color-light, false, topleft, true, .1rem);
  }
}
