@import "../../assets/styles/variables";
@import "../../assets/styles/mixins";

$input-bg: $white;
$input-font-size: .95rem;
$input-color: $gray-600;
$input-border-radius: $border-radius;
$input-border-color: $border-color;
$input-focus-border-color: $color-primary;
$input-placeholder-color: $gray-600;
$input-hover-border-color: darken($input-border-color, 15);

.container {
  width: calc(100% - 4px);
  position: relative;

  &::before, &::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: $input-border-radius;
    z-index: -1;
  }

  &::before {
    margin: -2px;
    background: linear-gradient(145deg, $white 20%, #D0D9E2);
  }

  &::after {
    margin: -1px;
    background-color: $color-light;
  }
}

.input {
  width: 100%;
  padding: .5rem 1rem;
  display: block;
  font-size: $input-font-size;
  box-sizing: border-box;
  outline: none;
  color: $input-color;
  border: none;
  border-radius: $input-border-radius;
  background-color: darken($color-light, 2);
  line-height: 1.5;
  @include neumorphism($color-light, false, topleft, true);

  &::placeholder {
    color: $input-placeholder-color;
  }
}
