@import "../../assets/styles/variables";
@import "../../assets/styles/mixins";

$input-bg: $white;
$input-font-size: .95rem;
$input-color: $gray-600;
$input-border-radius: $border-radius;
$input-border-color: $border-color;
$input-focus-border-color: $color-primary;
$input-placeholder-color: $gray-600;
$input-hover-border-color: darken($input-border-color, 15);

.input {
  width: 100%;
  display: block;
  padding: .5rem 1rem;
  font-size: $input-font-size;
  background-color: rgba($white, .25);
  border: none;
  border-radius: $input-border-radius;
  transition: box-shadow $transition-duration $ease-in-out-circ, border $transition-duration $ease-in-out-circ;
  outline: none;
  color: $input-color;
  will-change: border-color, box-shadow;
  box-sizing: border-box;
  line-height: 1.5;
  @include neumorphism($color-light, false, topleft, true);

  &::placeholder {
    color: $input-placeholder-color;
  }
}
