@import-normalize ;

@import "./assets/styles/variables";
@import "./assets/styles/spacing";
@import "./assets/styles/helper-classes";
@import "./assets/styles/recharts";

a {
  color: $color-primary;
  transition: $transition-base;
  will-change: color;

  &:hover, &:active {
    color: darken($color-primary, 10);
  }
}
